:root {
  --black: rgba(0, 0, 0, 1);
  --collection-1-gray0: rgba(191, 191, 191, 1);
  --collection-1-gray1: rgba(140, 140, 140, 1);
  --collection-1-gray2: rgba(115, 115, 115, 1);
  --collection-1-gray3: rgba(89, 89, 89, 1);
  --collection-1-gray4: rgba(64, 64, 64, 1);
  --darkdark-6: rgba(37, 38, 43, 1);
  --extra-large-semibold-font-family: 'Open Sans', Helvetica;
  --extra-large-semibold-font-size: 20px;
  --extra-large-semibold-font-style: normal;
  --extra-large-semibold-font-weight: 600;
  --extra-large-semibold-letter-spacing: 0px;
  --extra-large-semibold-line-height: 154.99999523162842%;
  --extra-small-semibold-font-family: 'Open Sans', Helvetica;
  --extra-small-semibold-font-size: 12px;
  --extra-small-semibold-font-style: normal;
  --extra-small-semibold-font-weight: 600;
  --extra-small-semibold-letter-spacing: 0px;
  --extra-small-semibold-line-height: 154.99999523162842%;
  --fran-frame-colors-OG-colors-a-0: rgba(215, 215, 215, 1);
  --fran-frame-colors-OG-colors-a-100: rgba(39, 39, 39, 1);
  --fran-frame-colors-OG-colors-a-25: rgba(155, 155, 155, 1);
  --fran-frame-colors-OG-colors-a-50: rgba(117, 117, 117, 1);
  --fran-frame-colors-OG-colors-a-75: rgba(89, 89, 89, 1);
  --fran-frame-colors-OG-colors-copy-a-0: rgba(215, 215, 215, 1);
  --fran-frame-colors-OG-colors-copy-a-100: rgba(39, 39, 39, 1);
  --fran-frame-colors-OG-colors-copy-a-25: rgba(155, 155, 155, 1);
  --fran-frame-colors-OG-colors-copy-a-50: rgba(117, 117, 117, 1);
  --fran-frame-colors-OG-colors-copy-a-75: rgba(89, 89, 89, 1);
  --graygray-2: rgba(233, 236, 239, 1);
  --graygray-4: rgba(206, 212, 218, 1);
  --large-semibold-font-family: 'Open Sans', Helvetica;
  --large-semibold-font-size: 18px;
  --large-semibold-font-style: normal;
  --large-semibold-font-weight: 600;
  --large-semibold-letter-spacing: 0px;
  --large-semibold-line-height: 154.99999523162842%;
  --medium-semibold-font-family: 'Open Sans', Helvetica;
  --medium-semibold-font-size: 16px;
  --medium-semibold-font-style: normal;
  --medium-semibold-font-weight: 600;
  --medium-semibold-letter-spacing: 0px;
  --medium-semibold-line-height: 154.99999523162842%;
  --official-colors-dark-mode-primary-black-primary-0: rgba(40, 40, 40, 1);
  --official-colors-dark-mode-primary-black-primary-1: rgba(28, 28, 28, 1);
  --official-colors-dark-mode-primary-black-primary-2: rgba(18, 18, 18, 1);
  --official-colors-dark-mode-primary-black-primary-3: rgba(11, 11, 11, 1);
  --official-colors-dark-mode-quaternary-blue-quaternary-0: rgba(45, 122, 237, 1);
  --official-colors-dark-mode-quaternary-blue-quaternary-1: rgba(26, 93, 224, 1);
  --official-colors-dark-mode-quaternary-blue-quaternary-2: rgba(18, 59, 164, 1);
  --official-colors-dark-mode-quaternary-blue-quaternary-4: rgba(11, 45, 131, 1);
  --official-colors-dark-mode-secondary-red-secondary-0: rgba(226, 18, 67, 1);
  --official-colors-dark-mode-secondary-red-secondary-1: rgba(192, 14, 56, 1);
  --official-colors-dark-mode-secondary-red-secondary-2: rgba(137, 13, 42, 1);
  --official-colors-dark-mode-secondary-red-secondary-3: rgba(92, 12, 31, 1);
  --official-colors-dark-mode-special-case-a: rgba(255, 255, 255, 1);
  --official-colors-dark-mode-special-case-b: rgba(255, 255, 255, 1);
  --official-colors-dark-mode-special-case-c: rgba(255, 255, 255, 1);
  --official-colors-dark-mode-tertiary-white-tertiary-0: rgba(248, 249, 250, 1);
  --official-colors-dark-mode-tertiary-white-tertiary-1: rgba(205, 205, 205, 1);
  --official-colors-dark-mode-tertiary-white-tertiary-2: rgba(131, 131, 131, 1);
  --official-colors-dark-mode-tertiary-white-tertiary-3: rgba(64, 64, 64, 1);
  --official-colors-light-mode-primary-white-primary-0: rgba(248, 249, 250, 1);
  --official-colors-light-mode-primary-white-primary-1: rgba(205, 205, 205, 1);
  --official-colors-light-mode-primary-white-primary-2: rgba(131, 131, 131, 1);
  --official-colors-light-mode-primary-white-primary-3: rgba(64, 64, 64, 1);
  --official-colors-light-mode-quaternary-blue-quaternary-0: rgba(45, 122, 237, 1);
  --official-colors-light-mode-quaternary-blue-quaternary-1: rgba(26, 93, 224, 1);
  --official-colors-light-mode-quaternary-blue-quaternary-2: rgba(18, 59, 164, 1);
  --official-colors-light-mode-quaternary-blue-quaternary-4: rgba(11, 45, 131, 1);
  --official-colors-light-mode-secondary-red-secondary-0: rgba(226, 18, 67, 1);
  --official-colors-light-mode-secondary-red-secondary-1: rgba(192, 14, 56, 1);
  --official-colors-light-mode-secondary-red-secondary-2: rgba(137, 13, 42, 1);
  --official-colors-light-mode-secondary-red-secondary-3: rgba(92, 12, 31, 1);
  --official-colors-light-mode-special-case-a: rgba(255, 255, 255, 1);
  --official-colors-light-mode-special-case-b: rgba(255, 255, 255, 1);
  --official-colors-light-mode-special-case-c: rgba(255, 255, 255, 1);
  --official-colors-light-mode-tertiary-black-tertiary-0: rgba(40, 40, 40, 1);
  --official-colors-light-mode-tertiary-black-tertiary-1: rgba(28, 28, 28, 1);
  --official-colors-light-mode-tertiary-black-tertiary-2: rgba(18, 18, 18, 1);
  --official-colors-light-mode-tertiary-black-tertiary-3: rgba(11, 11, 11, 1);
  --pedro-frame-colors-primary-a-0: rgba(40, 40, 40, 1);
  --pedro-frame-colors-primary-a-25: rgba(28, 28, 28, 1);
  --pedro-frame-colors-primary-a-50: rgba(18, 18, 18, 1);
  --pedro-frame-colors-primary-a-75: rgba(11, 11, 11, 1);
  --pedro-frame-colors-quaternary-d-0: rgba(36, 237, 188, 1);
  --pedro-frame-colors-quaternary-d-25: rgba(17, 210, 165, 1);
  --pedro-frame-colors-quaternary-d-50: rgba(0, 187, 146, 1);
  --pedro-frame-colors-quaternary-d-75: rgba(0, 162, 124, 1);
  --pedro-frame-colors-secundary-b-0: rgba(226, 18, 67, 1);
  --pedro-frame-colors-secundary-b-25: rgba(192, 14, 56, 1);
  --pedro-frame-colors-secundary-b-50: rgba(137, 13, 42, 1);
  --pedro-frame-colors-secundary-b-75: rgba(92, 12, 31, 1);
  --pedro-frame-colors-tertiary-c-0: rgba(248, 249, 250, 1);
  --pedro-frame-colors-tertiary-c-25: rgba(205, 205, 205, 1);
  --pedro-frame-colors-tertiary-c-25-50: rgba(205, 205, 205, 0.5);
  --pedro-frame-colors-tertiary-c-50: rgba(131, 131, 131, 1);
  --pedro-frame-colors-tertiary-c-75: rgba(64, 64, 64, 1);
  --pedro-frame-colors-transparent: rgba(254, 10, 10, 0);
  --primitives-blue-blue-3: rgba(116, 192, 252, 1);
  --primitives-blue-blue-6: rgba(34, 139, 230, 1);
  --primitives-blue-blue-7: rgba(28, 126, 214, 1);
  --primitives-blue-blue-8: rgba(25, 113, 194, 1);
  --primitives-blue-color-blue-9: rgba(24, 100, 171, 1);
  --primitives-color-black: rgba(0, 0, 0, 1);
  --primitives-color-white: rgba(255, 255, 255, 1);
  --primitives-dark-dark-0: rgba(201, 201, 201, 1);
  --primitives-dark-dark-3: rgba(105, 105, 105, 1);
  --primitives-dark-dark-4: rgba(66, 66, 66, 1);
  --primitives-dark-dark-5: rgba(59, 59, 59, 1);
  --primitives-dark-dark-6: rgba(46, 46, 46, 1);
  --primitives-gray-gray-0: rgba(248, 249, 250, 1);
  --primitives-gray-gray-2: rgba(233, 236, 239, 1);
  --primitives-gray-gray-3: rgba(222, 226, 230, 1);
  --primitives-gray-gray-4: rgba(206, 212, 218, 1);
  --primitives-gray-gray-5: rgba(173, 181, 189, 1);
  --primitives-gray-gray-6: rgba(134, 142, 150, 1);
  --primitives-gray-gray-7: rgba(73, 80, 87, 1);
  --primitives-gray-gray-8: rgba(52, 58, 64, 1);
  --primitives-gray-gray-9: rgba(33, 37, 41, 1);
  --primitives-primary-primary-color-3: var(--primitives-blue-blue-3);
  --primitives-primary-primary-color-6: var(--primitives-blue-blue-6);
  --primitives-primary-primary-color-7: var(--primitives-blue-blue-7);
  --primitives-primary-primary-color-8: var(--primitives-blue-blue-8);
  --primitives-primary-primary-color-9: var(--primitives-blue-color-blue-9);
  --primitives-red-red-3: rgba(255, 168, 168, 1);
  --primitives-red-red-4: rgba(255, 135, 135, 1);
  --primitives-red-red-6: rgba(250, 82, 82, 1);
  --primitives-red-red-7: rgba(240, 62, 62, 1);
  --primitives-red-red-8: rgba(224, 49, 49, 1);
  --primitives-red-red-9: rgba(201, 42, 42, 1);
  --primitives-teal-teal-3: rgba(99, 230, 190, 1);
  --primitives-teal-teal-6: rgba(18, 184, 134, 1);
  --primitives-teal-teal-7: rgba(12, 166, 120, 1);
  --primitives-teal-teal-8: rgba(9, 146, 104, 1);
  --primitives-yellow-teal-yellow-9: rgba(230, 119, 0, 1);
  --primitives-yellow-yellow-3: rgba(255, 224, 102, 1);
  --primitives-yellow-yellow-6: rgba(250, 176, 5, 1);
  --primitives-yellow-yellow-7: rgba(245, 159, 0, 1);
  --primitives-yellow-yellow-8: rgba(240, 140, 0, 1);
  --small-semibold-font-family: 'Open Sans', Helvetica;
  --small-semibold-font-size: 14px;
  --small-semibold-font-style: normal;
  --small-semibold-font-weight: 600;
  --small-semibold-letter-spacing: 0px;
  --small-semibold-line-height: 154.99999523162842%;
  --text-lg-font-family: 'Roboto', Helvetica;
  --text-lg-font-size: 18px;
  --text-lg-font-style: normal;
  --text-lg-font-weight: 400;
  --text-lg-letter-spacing: 0px;
  --text-lg-line-height: 20px;
  --text-md-font-family: 'Roboto', Helvetica;
  --text-md-font-size: 16px;
  --text-md-font-style: normal;
  --text-md-font-weight: 400;
  --text-md-letter-spacing: 0px;
  --text-md-line-height: 18px;
  --text-sm-font-family: 'Roboto', Helvetica;
  --text-sm-font-size: 14px;
  --text-sm-font-style: normal;
  --text-sm-font-weight: 400;
  --text-sm-letter-spacing: 0px;
  --text-sm-line-height: 16px;
  --text-xl-font-family: 'Roboto', Helvetica;
  --text-xl-font-size: 20px;
  --text-xl-font-style: normal;
  --text-xl-font-weight: 400;
  --text-xl-letter-spacing: 0px;
  --text-xl-line-height: 24px;
  --text-xs-font-family: 'Roboto', Helvetica;
  --text-xs-font-size: 12px;
  --text-xs-font-style: normal;
  --text-xs-font-weight: 400;
  --text-xs-letter-spacing: 0px;
  --text-xs-line-height: 14px;
  --tokens-background-default: var(--primitives-color-white);
  --tokens-background-default-hover: var(--primitives-gray-gray-0);
  --tokens-background-disabled-default: var(--primitives-gray-gray-2);
  --tokens-background-error-filled: var(--primitives-red-red-6);
  --tokens-background-error-filled-hover: var(--primitives-red-red-7);
  --tokens-background-error-light: rgba(250, 82, 82, 0.1);
  --tokens-background-error-light-hover: rgba(250, 82, 82, 0.12);
  --tokens-background-gray-filled: var(--primitives-gray-gray-6);
  --tokens-background-gray-filled-hover: var(--primitives-gray-gray-7);
  --tokens-background-gray-light: var(--primitives-gray-gray-2);
  --tokens-background-gray-light-hover: rgba(134, 142, 150, 0.12);
  --tokens-background-primary-filled: var(--primitives-primary-primary-color-6);
  --tokens-background-primary-filled-hover: var(--primitives-primary-primary-color-7);
  --tokens-background-primary-light: rgba(34, 139, 230, 0.1);
  --tokens-background-primary-light-hover: rgba(34, 139, 230, 0.12);
  --tokens-background-success-filled: var(--primitives-teal-teal-6);
  --tokens-background-success-filled-hover: var(--primitives-teal-teal-7);
  --tokens-background-success-light: rgba(18, 184, 134, 0.1);
  --tokens-background-success-light-hover: rgba(18, 184, 134, 0.12);
  --tokens-background-transparent: rgba(255, 255, 255, 0);
  --tokens-background-warning-filled: var(--primitives-yellow-yellow-6);
  --tokens-background-warning-filled-hover: var(--primitives-yellow-yellow-7);
  --tokens-background-warning-light: rgba(250, 176, 5, 0.1);
  --tokens-background-warning-light-hover: rgba(250, 176, 5, 0.12);
  --tokens-border-default: var(--primitives-gray-gray-3);
  --tokens-border-error-default: var(--primitives-red-red-6);
  --tokens-border-gray-default: var(--primitives-gray-gray-6);
  --tokens-border-primary-default: var(--primitives-primary-primary-color-6);
  --tokens-border-success-default: var(--primitives-teal-teal-6);
  --tokens-border-warning-default: var(--primitives-yellow-yellow-6);
  --tokens-button-default-button-hover: var(--tokens-background-default-hover);
  --tokens-input-border-input-bd-default: var(--primitives-gray-gray-4);
  --tokens-neutral-white: rgba(255, 255, 255, 1);
  --tokens-padding-padding-lg: 24px;
  --tokens-padding-padding-md: 20px;
  --tokens-padding-padding-sm: 16px;
  --tokens-padding-padding-xl: 32px;
  --tokens-padding-padding-xs: 12px;
  --tokens-padding-padding-xxs: 8px;
  --tokens-radius-radius-sm: 4px;
  --tokens-spacing-spacing-lg: 16px;
  --tokens-spacing-spacing-md: 12px;
  --tokens-spacing-spacing-sm: 8px;
  --tokens-text-default: var(--primitives-gray-gray-9);
  --tokens-text-disabled-default: var(--primitives-gray-gray-5);
  --tokens-text-error-default: var(--primitives-red-red-6);
  --tokens-text-error-disabled: var(--primitives-red-red-4);
  --tokens-text-gray-default: var(--primitives-gray-gray-7);
  --tokens-text-placeholder: var(--primitives-gray-gray-5);
  --tokens-text-primary-default: var(--primitives-primary-primary-color-6);
  --tokens-text-red: var(--primitives-red-red-6);
  --tokens-text-success-default: var(--primitives-teal-teal-6);
  --tokens-text-title: var(--primitives-color-black);
  --tokens-text-warning-default: var(--primitives-yellow-yellow-6);
}

/*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-tokens-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */

[data-tokens-mode='light'] {
  --tokens-background-default: var(--primitives-color-white);
  --tokens-background-default-hover: var(--primitives-gray-gray-0);
  --tokens-background-disabled-default: var(--primitives-gray-gray-2);
  --tokens-background-error-filled: var(--primitives-red-red-6);
  --tokens-background-error-filled-hover: var(--primitives-red-red-7);
  --tokens-background-error-light: rgba(250, 82, 82, 0.1);
  --tokens-background-error-light-hover: rgba(250, 82, 82, 0.12);
  --tokens-background-gray-filled: var(--primitives-gray-gray-6);
  --tokens-background-gray-filled-hover: var(--primitives-gray-gray-7);
  --tokens-background-gray-light: var(--primitives-gray-gray-2);
  --tokens-background-gray-light-hover: rgba(134, 142, 150, 0.12);
  --tokens-background-primary-filled: var(--primitives-primary-primary-color-6);
  --tokens-background-primary-filled-hover: var(--primitives-primary-primary-color-7);
  --tokens-background-primary-light: rgba(34, 139, 230, 0.1);
  --tokens-background-primary-light-hover: rgba(34, 139, 230, 0.12);
  --tokens-background-success-filled: var(--primitives-teal-teal-6);
  --tokens-background-success-filled-hover: var(--primitives-teal-teal-7);
  --tokens-background-success-light: rgba(18, 184, 134, 0.1);
  --tokens-background-success-light-hover: rgba(18, 184, 134, 0.12);
  --tokens-background-warning-filled: var(--primitives-yellow-yellow-6);
  --tokens-background-warning-filled-hover: var(--primitives-yellow-yellow-7);
  --tokens-background-warning-light: rgba(250, 176, 5, 0.1);
  --tokens-background-warning-light-hover: rgba(250, 176, 5, 0.12);
  --tokens-border-default: var(--primitives-gray-gray-3);
  --tokens-border-error-default: var(--primitives-red-red-6);
  --tokens-border-gray-default: var(--primitives-gray-gray-6);
  --tokens-border-primary-default: var(--primitives-primary-primary-color-6);
  --tokens-border-success-default: var(--primitives-teal-teal-6);
  --tokens-border-warning-default: var(--primitives-yellow-yellow-6);
  --tokens-input-border-input-bd-default: var(--primitives-gray-gray-4);
  --tokens-text-default: var(--primitives-gray-gray-9);
  --tokens-text-disabled-default: var(--primitives-gray-gray-5);
  --tokens-text-error-default: var(--primitives-red-red-6);
  --tokens-text-error-disabled: var(--primitives-red-red-4);
  --tokens-text-gray-default: var(--primitives-gray-gray-7);
  --tokens-text-placeholder: var(--primitives-gray-gray-5);
  --tokens-text-primary-default: var(--primitives-primary-primary-color-6);
  --tokens-text-red: var(--primitives-red-red-6);
  --tokens-text-success-default: var(--primitives-teal-teal-6);
  --tokens-text-title: var(--primitives-color-black);
  --tokens-text-warning-default: var(--primitives-yellow-yellow-6);
}

[data-tokens-mode='dark'] {
  --tokens-background-default: var(--primitives-dark-dark-6);
  --tokens-background-default-hover: var(--primitives-dark-dark-5);
  --tokens-background-disabled-default: var(--primitives-dark-dark-6);
  --tokens-background-error-filled: var(--primitives-red-red-8);
  --tokens-background-error-filled-hover: var(--primitives-red-red-9);
  --tokens-background-error-light: rgba(250, 82, 82, 0.15);
  --tokens-background-error-light-hover: rgba(250, 82, 82, 0.2);
  --tokens-background-gray-filled: var(--primitives-gray-gray-8);
  --tokens-background-gray-filled-hover: var(--primitives-gray-gray-9);
  --tokens-background-gray-light: var(--primitives-dark-dark-4);
  --tokens-background-gray-light-hover: rgba(134, 142, 150, 0.2);
  --tokens-background-primary-filled: var(--primitives-primary-primary-color-8);
  --tokens-background-primary-filled-hover: var(--primitives-primary-primary-color-9);
  --tokens-background-primary-light: rgba(34, 139, 230, 0.15);
  --tokens-background-primary-light-hover: rgba(34, 139, 230, 0.2);
  --tokens-background-success-filled: var(--primitives-teal-teal-8);
  --tokens-background-success-filled-hover: var(--primitives-teal-teal-8);
  --tokens-background-success-light: rgba(18, 184, 134, 0.15);
  --tokens-background-success-light-hover: rgba(18, 184, 134, 0.2);
  --tokens-background-warning-filled: var(--primitives-yellow-yellow-8);
  --tokens-background-warning-filled-hover: var(--primitives-yellow-teal-yellow-9);
  --tokens-background-warning-light: rgba(250, 176, 5, 0.15);
  --tokens-background-warning-light-hover: rgba(250, 176, 5, 0.2);
  --tokens-border-default: var(--primitives-dark-dark-4);
  --tokens-border-error-default: var(--primitives-red-red-3);
  --tokens-border-gray-default: var(--primitives-gray-gray-3);
  --tokens-border-primary-default: var(--primitives-primary-primary-color-3);
  --tokens-border-success-default: var(--primitives-teal-teal-3);
  --tokens-border-warning-default: var(--primitives-yellow-yellow-3);
  --tokens-input-border-input-bd-default: var(--primitives-dark-dark-4);
  --tokens-text-default: var(--primitives-color-white);
  --tokens-text-disabled-default: var(--primitives-dark-dark-3);
  --tokens-text-error-default: var(--primitives-red-red-7);
  --tokens-text-error-disabled: rgba(224, 49, 49, 0.5);
  --tokens-text-gray-default: var(--primitives-gray-gray-3);
  --tokens-text-placeholder: var(--primitives-dark-dark-3);
  --tokens-text-primary-default: var(--primitives-primary-primary-color-3);
  --tokens-text-red: var(--primitives-red-red-3);
  --tokens-text-success-default: var(--primitives-teal-teal-3);
  --tokens-text-title: var(--primitives-dark-dark-0);
  --tokens-text-warning-default: var(--primitives-yellow-yellow-3);
}
