.card {
  width: 280px;
  height: auto;
}

.card-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.card-section {
  position: relative;
}

.card-image {
  width: 100%;
  max-width: 450px;
  height: 300px;
  border-radius: 15px;

}

.card-button {
  display: flex;
  width: 250px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Neutral-white, #fff);
  color: var(--Background-Gray-filled, #868e96);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.card-button:hover {
  color: #fff;
  background: var(--Background-Gray-filled, #8e8e8e);
}

.card-title {
  height: 14px;
  flex-shrink: 0;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 10px;
}

.card-initiating {
  width: 234.316px;
  color: #404040;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 10px;
}

.card-amountCollected {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 10px;
}

.card-subtitle {
  color: #595959;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 10px;
}
