/*! Fondo del carrusel */
.carousel-background {
  position: relative;
  width: 90%;
  max-width: 640px;
  aspect-ratio: 4 / 3;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

/*! Capa de superposición */
.carousel-overlay {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}

/*! Contenedor de la imagen principal */
.main-image-container {
  width: 100%;
  max-width: 510px;
  height: 400px; 
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  background-color:  #d9d9d9;  
}

/*! Contenedor de miniaturas */
.thumbnail-container {
  background-color: #d9d9d9;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/*! Contenedor de miniaturas con desplazamiento */
.thumbnail-scroll {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  width: 1000px;
}

.thumbnail-scroll::-webkit-scrollbar {
  height: 6px;
}

.thumbnail-scroll::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 5px;
}

/*! Miniaturas */
.thumbnail {
  height: 80px;
  width: 90px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden; 
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*! Miniatura seleccionada */
.thumbnail.selected {
  transform: scale(1.1);
  border: 2px solid #5b6773;
}

.thumbnail:hover {
  transform: scale(1.05);
}

/*! Responsividad */
@media (max-width: 768px) {
  .carousel-background {
    width: 100%;
    max-width: none;
    aspect-ratio: 4 / 3;
  }

  .main-image-container {
    max-width: 100%;
  }

  .thumbnail {
    height: 40px;
    width: 40px;
  }
}
