/* Estilos del card */
.card {
  background-color: #f27243;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 390px;
  height: 468px; /* Asegúrate de que haya suficiente altura */
  margin-top: 30px;
  transition: width 0.5s ease, height 0.5s ease;
  /* Elimina o ajusta overflow si está configurado */
}


.leftText {
  text-align: left;
  width: 100%;
}

.centeredTitle {
  text-align: center;
  margin-bottom: 10px;
  transition: font-size 0.5s ease; /* Transición suave para el margin-top */
  
}

.group {
  width: 100%;
}

.button {
  margin-top: 0;
  background-color: #065242;
  overflow: hidden;
  max-width: 100%;
  transition: margin-top 0.5s ease; /* Transición suave para el margin-top */

}

.customDivider {
  border-color: black !important;
  border-width: 1.5px !important;
}

.feesText {
  text-align: center;
  margin-top: 10px;
}

/* Nueva clase para el slide activo */
.activeSlide .card {
  margin-top: 0px;
  width: 420px; /* Incremento de 20px en ancho */
  height: 540px; /* Incremento de 100px en alto */
  transition: width 0.5s ease, height 0.5s ease; /* Ajuste de velocidad */
}

/* Clase para los slides inactivos */
.inactiveSlide .card {
  width: 390px;
  height: 468px;
}
