:root {
  --diduforgoturpassword-section-top: 10%;
  --diduforgoturpassword-section-left: 60%;
  --diduforgoturpassword-section-right: 0%;
  --diduforgoturpassword-section-bottom: 0%;

  --diduforgoturpassword-text-wrapper-2-top: 308px;
  --diduforgoturpassword-text-wrapper-2-left: 47px;

  --diduforgoturpassword-input-2-top: 228px;
  --diduforgoturpassword-input-2-left: 47px;

  --diduforgoturpassword-input-newPassword-top: 196px;
  --diduforgoturpassword-input-newPassword-left: 9.1%;

  --diduforgoturpassword-input-confirmPassword-top: 301px;
  --diduforgoturpassword-input-confirmPassword-left: 9.1%;

  --diduforgoturpassword-input-name-top: 112px;
  --diduforgoturpassword-input-name-left: 9.1%;

  --diduforgoturpassword-input-surname-top: 112px;
  --diduforgoturpassword-input-surname-left: 259px;

  --diduforgoturpassword-text-wrapper-4-top: 148px;
  --diduforgoturpassword-text-wrapper-4-left: 50px;

  --diduforgoturpassword-input-5-top: 149px;
  --diduforgoturpassword-input-5-left: 264px;

  --button-diduforgoturpassword-top: 80%;
  --button-diduforgoturpassword-left: 9.1%;

  --account-check-top: 500px;
  --account-check-left: 64px;

  --p-top-diduforgoturpassword: -23px;
  --p-left: 10px;

  --diduforgoturpassword-header-diduforgoturpassword-text-top: 30px;
  --diduforgoturpassword-header-diduforgoturpassword-text-left: 120px;

  --diduforgoturpassword-group-top: 483px;
  --diduforgoturpassword-group-left: 324px;

  --login-link-top: 0;
  --login-link-left: 270px;

  --button-diduforgoturpassword-top: 77%;
  --button-diduforgoturpassword-left: 52.1%;

  --button-diduforgoturpassword-top-go-back: 77%;
  --button-diduforgoturpassword-left-go-back: 7.1%;
}
.diduforgoturpassword {
  max-width: 325px;
  width: 25%;
  min-height: 600px;
  min-width: 500px;
  position: relative;
  top: var(--diduforgoturpassword-section-top);
  left: var(--diduforgoturpassword-section-left);
  right: var(--diduforgoturpassword-section-right);
  bottom: var(--diduforgoturpassword-section-bottom);
  background: #282828;
  border-radius: 10px;
  z-index: 2;
}

.diduforgoturpassword .overlap-group {
  height: 78px;
  margin-left: 8%;
  position: absolute;
  top: 55%;
  width: 399px;
}

.diduforgoturpassword .text-wrapper-2 {
  color: var(--pedro-frame-colors-tertiary-c-0);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 11px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 129px;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-1
  .mantine-Input-input.mantine-TextInput-input,
.diduforgoturpassword
  .diduforgoturpassword-input-instance-2
  .mantine-Input-input.mantine-TextInput-input,
.diduforgoturpassword
  .diduforgoturpassword-input-instance-3
  .mantine-Input-input.mantine-TextInput-input,
.diduforgoturpassword
  .diduforgoturpassword-input-instance-4
  .mantine-Input-input.mantine-TextInput-input,
.diduforgoturpassword
  .diduforgoturpassword-input-instance-5
  .mantine-Input-input.mantine-TextInput-input,
.diduforgoturpassword
  .diduforgoturpassword-input-instance-6
  .mantine-Input-input.mantine-TextInput-input {
  height: 60px !important;
  width: 60px !important;
  font-size: 25px !important;
  position: absolute !important;
  top: 30%;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-1
  .mantine-Input-input.mantine-TextInput-input {
  left: 0 !important;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-2
  .mantine-Input-input.mantine-TextInput-input {
  left: 70px !important;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-3
  .mantine-Input-input.mantine-TextInput-input {
  left: 140px !important;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-4
  .mantine-Input-input.mantine-TextInput-input {
  left: 210px !important;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-5
  .mantine-Input-input.mantine-TextInput-input {
  left: 280px !important;
}

.diduforgoturpassword
  .diduforgoturpassword-input-instance-6
  .mantine-Input-input.mantine-TextInput-input {
  left: 350px !important;
}

.diduforgoturpassword .design-component-instance-node {
  z-index: unset !important;
}

.diduforgoturpassword .input-2 {
  color: var(--pedro-frame-colors-secundary-b-0) !important;
}

.diduforgoturpassword .to-continue-with-the {
  color: var(--pedro-frame-colors-tertiary-c-0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 71px;
  left: 5%;
  letter-spacing: -0.3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 449px;
}

.diduforgoturpassword .span {
  color: #f8f9fa;
  letter-spacing: -0.04px;
}

.diduforgoturpassword .text-wrapper-3 {
  color: #e21243;
  letter-spacing: -0.04px;
}

.diduforgoturpassword .overlap-2 {
  height: 122px;
  left: 15%;
  position: absolute;
  top: 45px;
  width: 383px;
}

.diduforgoturpassword .diduforgoturpassword-text-wrapper-4 {
  color: var(--pedro-frame-colors-tertiary-c-0);
  font-family: 'Roboto', Helvetica;
  font-size: 41px;
  font-weight: 700;
  left: 1px;
  letter-spacing: -0.9px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.diduforgoturpassword .password-text-wrapper-5 {
  color: var(--pedro-frame-colors-secundary-b-0);
  font-family: 'Roboto', Helvetica;
  font-size: 65px;
  font-weight: 700;
  left: 20px;
  letter-spacing: -1.3px;
  line-height: normal;
  position: absolute;
  top: 46px;
  white-space: nowrap;
}

.diduforgoturpassword .button-footer {
  height: 93px;
  left: 64px;
  position: absolute;
  top: 65%;
  width: 350px;
}

.diduforgoturpassword .group {
  height: 31px;
  left: 264px;
  position: absolute;
  top: 60px;
  width: 61px;
}

.diduforgoturpassword .login-text-wrapper {
  -webkit-text-stroke: 1px #e21243;
  border-color: var(--pedro-frame-colors-secundary-b-0);
  color: var(--pedro-frame-colors-secundary-b-0);
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 31px;
  left: 0;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  top: 10%;
  white-space: nowrap;
}

.diduforgoturpassword .p {
  color: var(--pedro-frame-colors-tertiary-c-0);
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 31px;
  left: 13px;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  top: 47%;
  white-space: nowrap;
}

.diduforgoturpassword .button-instance {
  background-color: var(--pedro-frame-colors-secundary-b-0) !important;
  border-radius: 15px !important;
  height: 60px !important;
  left: 5% !important;
  position: absolute !important;
  top: 80% !important;
  width: 348px !important;
}

.error-message {
  color: var(--pedro-frame-colors-secundary-b-0) !important;
  font-size: 20px;
  margin-top: 16%;
  margin-left: 1%;
}

.diduforgoturpassword .button-diduforgoturpassword {
  background-color: var(--pedro-frame-colors-secundary-b-0) !important;
  border-radius: 15px !important;
  height: 55px !important;
  left: var(--button-diduforgoturpassword-left) !important;
  position: absolute !important;
  top: var(--button-diduforgoturpassword-top) !important;
  width: 200px !important;
}

.diduforgoturpassword .button-diduforgoturpassword-go-back {
  background-color: transparent !important;
  left: var(--button-diduforgoturpassword-left-go-back) !important;
  top: var(--button-diduforgoturpassword-top-go-back) !important;

  border-radius: 15px !important;
  height: 55px !important;
  position: absolute !important;
  width: 200px !important;

  border: 4px solid;
  border-color: var(--official-colors-dark-mode-secondary-red-secondary-0);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s;
}

.diduforgoturpassword .button-diduforgoturpassword-go-back:hover,
.diduforgoturpassword .button-diduforgoturpassword:hover {
  background-color: var(--pedro-frame-colors-tertiary-c-0) !important;
  color: var(--official-colors-dark-mode-secondary-red-secondary-0) !important;
  /* box-shadow: 10px 4px 40px var(--official-colors-dark-mode-secondary-red-secondary-75); */
  box-shadow: 4px 4px 40px var(--pedro-frame-colors-tertiary-c-50);

  border: unset;
}
