.paper {
  width: 100%;
  min-width: 0;
  height: calc(102vh - 90px);
  --paper-radius: none;
}

.content {
  height: 100%;
  overflow: auto;
  padding: 0 30px 15px;

  @media (max-width: $mantine-breakpoint-xl) {
    padding: 0 20px 10px;
  }
  @media (max-width: $mantine-breakpoint-md) {
    padding: 0 10px 5px;
  }
}