body {
  background-color: #eeeeef;
  overflow: hidden;
  font-family: sans-serif; /* Estilo de fuente opcional */
}

/* Estilo de barra de desplazamiento */
body ::-webkit-scrollbar {
  width: 8px; /* Anchura para scrollbar vertical */
  height: 8px; /* Anchura para scrollbar horizontal */
}

body ::-webkit-scrollbar-track {
  border-radius: 8px; /* Bordes redondeados */
}

body ::-webkit-scrollbar-thumb {
  background: var(--mantine-color-gray-1); /* Color del scrollbar */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px 0;
}
