body {
  background-color: #eeeeef;
  overflow: hidden;

  * {
    ::-webkit-scrollbar {
      width: 8px; /* Thin width */
      height: 8px; /* Thin width for horizontal scrollbar */
    }

    ::-webkit-scrollbar-track {
      border-radius: 8px; /* Border radius */
    }

    ::-webkit-scrollbar-thumb {
      background: var(--mantine-color-gray-1); /* Background of the track */
      border-radius: 8px; /* Border radius */
      padding: 20px 0;
    }
  }
}